html, body {
    height: 100%;
}

* {
    text-align: center;
    margin: 0;
}

.wrapper {
    background-color: lightgrey;
    height: 100%;
}

h1 {
    background-color: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

#console {
    text-align: left;
}

#try {
    width: 150px;
    margin: 2em;
}
