@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
    Name: @ViewData["Name"]
    <br />

    Age : @ViewData["Age"]
    <br />
    Customer's Phone Number : @ViewBag.CustomerPhoneNumber
    <br />
    Price : @ViewBag.Price
    </p>
    <p>
    <h2> Numbers less than 60</h2>
   @foreach (var item in (IEnumerable<int>)ViewData["scores"])
    {
        @item
        <br />
    }

    </P>
    <h2> Numbers less than 60</h2>
    @foreach(var item in ViewBag.Scores)
    {
        @item
        <br />
    }
    </P>

</div>
