
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <h1>
       @ViewBag.UserName
    </h1>   
        
    <form method="post">
        <input type="number" name="firstnum"  FirstNum/>
        <input type="number" name="secondnum" SecondNum/>
        <input type="submit"/>

    </form>
   
</body>
</html>
